.complaint-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
}

.complaint-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: white;
}

.complaint-logo {
  width: 280px;
  height: 70px;
  background-color: #007bc1;
  border-radius: 25px;
}

.complaint-nav a {
  position: relative;
  margin: 0 15px;
  color: #007bc1;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.complaint-nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #007bc1;
  transition: width 0.3s ease;
}

.complaint-nav a:hover {
  color: #005c91; 
}

.complaint-nav a:hover::after {
  width: 100%;
}


.complaint-user {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #007bc1;
  font-weight: 500;
  font-size: 14px;
}

.complaint-user a {
  color: #007bc1;
  text-decoration: none;
  font-weight: 500;
}

.complaint-user a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.user-icon {
  font-size: 18px;
}

.complaint-main {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.complaint-timestamp {
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.complaint-status {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: flex-end;
  margin-bottom: 10px;
}

.pending-label {
  background-color: #f5425d;
  color: white;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 5px;
}

.complaint-grid {
  display: flex;
  justify-content: center;
  gap: 60px;
  width: 100%;
  max-width: 800px;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-section label {
  font-weight: 500;
  margin-top: 10px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #007bc1;
  border-radius: 4px;
  resize: none;
  font-size: 14px;
}

.input-multiline {
  height: 60px;
  font-family: inherit;
  white-space: pre-line;
}

textarea {
  height: 100px;
}

.photo-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photo-placeholder {
  height: 180px;
  background-color: #007bc1;
  border-radius: 6px;
}


.footer-divider {
  all: unset;
  display: block;
  border-top: 2px solid #007bc1;
  width: 70%;
  margin: 0 auto 20px auto;
}

.complaint-footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
}

.footer-logo {
  margin-top: 10px;
  background-image: url('/public/img/logo_extensao.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 180px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}



.section-divider {
  all: unset;
  display: block;
  border-top: 2px solid #007bc1;
  width: 70%;
  margin: 0 auto 20px auto;
}



.input-local.textarea-local {
  height: 80px;
  resize: none;
  white-space: pre-line;
}

